* {
    box-sizing: border-box;
    margin: 0;
    background-color: bisque;
   }
   
   body {
       width: 100%;
       height: 100vh;
       display: grid;
       place-items: center;
   }
   
   h1 {
       position: absolute;
       top: 20px;
   }
   
   .bandeira {
    position: relative;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  .brasil {
    background-color: #009c37;
    display: grid;
    place-items: center;
  }
  
  .brasil_L {
    background-color: #fde000;
    width: 80%;
    height: 70%;
    clip-path: polygon(51% 0%, 100% 50%, 51% 100%, 0% 50%);
  }

  .brasilLogo {

    border-radius: 36px;
    position: absolute;
    inset: 0;
    width: 80px;
    margin: auto;
  }